body{
    padding: 0;
    margin: 0;
}
#mainBlock{
    width: 960px;
    background-color: #9da0a4;
    margin: 0 auto;
    font-size: 1.3em;
}
#header{
    margin-top: 40px;
    text-align: center;
    height: 150px;
    width: 100%;
}
#results{
    width: 100%;
    min-height: 400px;
    background-color: #dddddd;
}